<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kutztown.tellme">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayGuestMain"
            android:label="@string/title_activity_display_guest_main"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kutztown.tellme.MainActivity" />
        </activity>
        <activity
            android:name=".sendLogin"
            android:label="@string/title_activity_send_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kutztown.tellme.MainActivity" />
        </activity>
        <activity
            android:name=".DisplayCreateAccount"
            android:label="@string/title_activity_display_create_account"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kutztown.tellme.MainActivity" />
        </activity>
        <activity
            android:name=".sendGuestNewsFeed"
            android:label="@string/title_activity_send_guest_news_feed"
            android:parentActivityName=".DisplayGuestMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kutztown.tellme.DisplayGuestMain" />
        </activity>
        <activity
            android:name=".sendGuestFeedMe"
            android:label="@string/title_activity_send_guest_feed_me"
            android:parentActivityName=".DisplayGuestMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kutztown.tellme.DisplayGuestMain" />
        </activity>
    </application>

</manifest>
